In [2]:
import numpy as np
import pandas as pd
np.set_printoptions(precision=4)

In [2]:
draft =pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex1.csv')
draft.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
draft2=pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\test.tsv',sep='\t')
draft2.head()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [4]:
df=pd.read_table(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex1.csv',sep=',')

In [5]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex1.csv',header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [7]:
df2=pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex2.csv',names=['Keith','Fernandes','KF','FK','Text'])
df2.head()

   Keith  Fernandes  KF  FK   Text
0      1          2   3   4  hello
1      5          6   7   8  world
2      9         10  11  12    foo

In [8]:
pf=pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\csv_mindex.csv')
pf.head()

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10

In [9]:
pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
res=pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex5.csv')
pd.isnull(res)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [16]:
url='https://www.basketball-reference.com/leagues/NBA_2015_totals.html'
BB_data=pd.read_html(url)
df2=BB_data[0]
df2.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [12]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (4.6.3)

In [3]:
titanic_train=pd.read_csv('https://raw.githubusercontent.com/ogrisel/parallel_ml_tutorial/master/notebooks/titanic_train.csv')
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
pd.options.display.max_rows=10
df2=pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex6.csv')
df2

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [9]:
pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex6.csv',nrows=10)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [10]:
chunk=pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex6.csv',chunksize=1000)
chunk

In [12]:
dat=pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex5.csv')

In [13]:
dat

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [14]:
dat.to_csv('out.csv')

In [17]:
date_range=pd.date_range('1/1/2000',freq='M',periods=70)
date_range

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31',
               '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30',
               '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31',
               '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31',
               '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30',
               '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31',
               '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31',
               '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30',
               '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31',
               '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31',
               '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30',
               '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31',
               '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31',
               '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30',
               '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31',
               '2005-09-30', '2005-10-31'],
              dtype='datetime64[ns]', freq='M')

In [24]:
import numpy as np
ts=pd.Series(np.arange(70),index=date_range)

In [25]:
ts

2000-01-31     0
2000-02-29     1
2000-03-31     2
2000-04-30     3
2000-05-31     4
              ..
2005-06-30    65
2005-07-31    66
2005-08-31    67
2005-09-30    68
2005-10-31    69
Freq: M, Length: 70, dtype: int32

In [27]:
ts.to_csv('date_Month.csv')

In [28]:
import csv
f=open(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex7.csv')

reader=csv.reader(f)
reader

In [29]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [30]:
with open(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex7.csv') as f:
    lines=list(csv.reader(f))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [31]:
header,values=lines[0],lines[1:]

In [32]:
header

['a', 'b', 'c']

In [33]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [37]:
list(zip(values))

[(['1', '2', '3'],), (['1', '2', '3'],)]

In [38]:
z,y=[1,[1,3]]

In [41]:
type(z)

int

In [40]:
y

[1, 3]

In [42]:
h

NameError: name 'h' is not defined

In [53]:


for i,j in zip(l1,zip(*l2)):
    print(i,j)

<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\keith\AppData\Local\Temp/ipykernel_3716/3326213129.py:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  l2=[(5,3)(6,7),(9,0),(8,1)]

TypeError: 'tuple' object is not callable

In [55]:
l1=[1,2,3,4]
l2=[(5,3),(6,7),(9,0),(8,1)]

In [58]:
[{i:j for i,j in zip(l1,zip(*l2))}]

[{1: (5, 6, 9, 8), 2: (3, 7, 0, 1)}]

In [70]:
obj="""{
    "name":"Keith",
    "places_lived":["Mumbai","Goa","Thailand"],
    "pets":"null",
    "siblings":[{
        "name":"Scott","age":30,"pets":["Zeus","Zuko"]},
        {"name":"Katie","age":30,"pets":["Sixes","Stache","Cisco"]}]
}"""

In [65]:
type(obj)

str

In [76]:
obj

'{\n    "name":"Keith",\n    "places_lived":["Mumbai","Goa","Thailand"],\n    "pets":"null",\n    "siblings":[{\n        "name":"Scott","age":30,"pets":["Zeus","Zuko"]},\n        {"name":"Katie","age":30,"pets":["Sixes","Stache","Cisco"]}]\n}'

In [71]:
import json
data_json=json.loads(obj)

In [72]:
asjson=json.dumps(data_json)

In [73]:
type(data_json)

dict

In [74]:
sibs=pd.DataFrame(data_json['siblings'],columns=['name','age','pets'])
sibs

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   30  [Sixes, Stache, Cisco]

In [78]:
data_json['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 30, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [79]:
json=pd.read_json(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\example.json')

In [80]:
json

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [86]:
tables=pd.read_html(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\fdic_failed_bank_list.html')
tables[0]
failures=tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [87]:
frame=pd.read_csv(r'C:\Users\keith\Downloads\Data Ananlysis-20210921T114538Z-001\Data Ananlysis\code_pandas1\examples\ex1.csv')
frame
frame.to_pickle('frame_pickle')#--> Serializtion

In [88]:
pd.read_pickle('frame_pickle')#Deserializtion

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [92]:
frame2=pd.DataFrame({'a':np.random.randn(100)})
frame2.head()

          a
0  0.960005
1  1.438080
2 -0.206660
3 -0.157266
4  1.238918

In [95]:
store=pd.HDFStore('mydata.h5')
store['obj']=frame2
store['obj_cols']=frame2['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [94]:
!pip install tables

Collecting tables
  Downloading tables-3.6.1-2-cp38-cp38-win_amd64.whl (3.1 MB)
Requirement already satisfied: numpy>=1.9.3 in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (from tables) (1.21.2)
Collecting numexpr>=2.6.2
  Downloading numexpr-2.7.3-cp38-cp38-win_amd64.whl (93 kB)
Installing collected packages: numexpr, tables
Successfully installed numexpr-2.7.3 tables-3.6.1

In [97]:
store['obj_cols']

0     0.960005
1     1.438080
2    -0.206660
3    -0.157266
4     1.238918
        ...
95    0.848467
96   -1.020375
97    0.640069
98   -0.307236
99   -0.693598
Name: a, Length: 100, dtype: float64

In [98]:
import requests
url='https://api.github.com/repos/pandas-dev/pandas/issues'
req=requests.get(url)
req

In [115]:
resp=req.json()
resp[0]['user']

{'login': 'simonjayhawkins',
 'id': 13159005,
 'node_id': 'MDQ6VXNlcjEzMTU5MDA1',
 'avatar_url': 'https://avatars.githubusercontent.com/u/13159005?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/simonjayhawkins',
 'html_url': 'https://github.com/simonjayhawkins',
 'followers_url': 'https://api.github.com/users/simonjayhawkins/followers',
 'following_url': 'https://api.github.com/users/simonjayhawkins/following{/other_user}',
 'gists_url': 'https://api.github.com/users/simonjayhawkins/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/simonjayhawkins/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/simonjayhawkins/subscriptions',
 'organizations_url': 'https://api.github.com/users/simonjayhawkins/orgs',
 'repos_url': 'https://api.github.com/users/simonjayhawkins/repos',
 'events_url': 'https://api.github.com/users/simonjayhawkins/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/simonjayhawkins/received_events',
 'type': 'User',
 'site_admin': False}

In [116]:
k=[]
for i in range(len(resp)):
    k.append(resp[i]['user']['login'])
k

['simonjayhawkins',
 'helgehatt',
 'twoertwein',
 'jbencina',
 'judahrand',
 'judahrand',
 'attack68',
 'debnathshoham',
 'sdementen',
 'rhshadrach',
 'horaceklai',
 'twoertwein',
 'geoffrey-eisenbarth',
 'attack68',
 'SKittan',
 'jorisvandenbossche',
 'wojtek2kdev',
 'usersblock',
 'twoertwein',
 'nickginsberg',
 'attack68',
 'debnathshoham',
 'bustawin',
 'jbrockmendel',
 'twoertwein',
 'jbrockmendel',
 'mzeitlin11',
 'attack68',
 'attack68',
 'lithomas1']

In [125]:
kf=pd.DataFrame(resp,columns=['title','number','labels','state'])

In [126]:
kf

,title,number,labels,state
0,Backport PR #43677 on branch 1.3.x (CI: Strict...,43698,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
1,BUG: idxmax raises when used with tuples,43697,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,TYP: redundant imports for public API,43695,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
3,BUG: to_numeric incorrectly converting values ...,43693,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,BUG: Write compliant Parquet with `pyarrow`,43690,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
...,...,...,...,...
25,REF: remove JoinUnit.shape,43651,[],open
26,CI/BUG: pyarrow read_csv deadlock,43650,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
27,BUG: styler multiindex hiding indexes and colu...,43649,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,BUG: styler hide_index hide_columns misaligns ...,43644,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,CLN: Python Parser code,43642,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open

In [149]:
pd.read_csv(resp['labels'],sep=',')

TypeError: list indices must be integers or slices, not str

In [151]:
for i in range(kf['labels'][0]):
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [167]:
import requests
url=url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp1=requests.get(url)
resp1
d1=resp1.json()
d1
masterdf=pd.DataFrame(columns=['id','node_id','url','name','color','default','description'])
for i in range(15):
    s=pd.DataFrame(d1[i]['labels'],columns=['id','node_id','url','name','color','default','description'])
    masterdf=masterdf.append(s,ignore_index=True)
masterdf

,id,node_id,url,name,color,default,description
0,35818298,MDU6TGFiZWwzNTgxODI5OA==,https://api.github.com/repos/pandas-dev/pandas...,API Design,AD7FA8,False,None
1,849023693,MDU6TGFiZWw4NDkwMjM2OTM=,https://api.github.com/repos/pandas-dev/pandas...,ExtensionArray,6138b5,False,Extending pandas with custom dtypes or arrays.
2,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
3,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...
4,1280988427,MDU6TGFiZWwxMjgwOTg4NDI3,https://api.github.com/repos/pandas-dev/pandas...,Typing,ea91a4,False,mypy type annotations
...,...,...,...,...,...,...,...
25,35818298,MDU6TGFiZWwzNTgxODI5OA==,https://api.github.com/repos/pandas-dev/pandas...,API Design,AD7FA8,False,None
26,251382258,MDU6TGFiZWwyNTEzODIyNTg=,https://api.github.com/repos/pandas-dev/pandas...,IO LaTeX,006b75,False,to_latex
27,1728592794,MDU6TGFiZWwxNzI4NTkyNzk0,https://api.github.com/repos/pandas-dev/pandas...,Styler,006b75,False,conditional formatting using DataFrame.style
28,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
29,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...

In [160]:
d1[0]['labels']['id']

TypeError: list indices must be integers or slices, not str

In [166]:
pd.DataFrame(d1[1]['labels'],columns=['id','node_url','url','name','color','default','description'])

,id,node_url,url,name,color,default,description
0,76811,NaN,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False,None
1,1954720290,NaN,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False,Issue that has not been reviewed by a pandas t...

In [169]:
data=pd.read_json(url)
data=pd.DataFrame(data,columns=['number','title','user','state','labels'])
data.head(5)

,number,title,user,state,labels
0,43700,GH36236,"{'login': 'kasmith11', 'id': 29484286, 'node_i...",open,[]
1,43699,API: change ExtensionArray.astype to always re...,"{'login': 'jorisvandenbossche', 'id': 1020496,...",open,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx..."
2,43697,BUG: idxmax raises when used with tuples,"{'login': 'helgehatt', 'id': 12933913, 'node_i...",open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."
3,43695,TYP: redundant imports for public API,"{'login': 'twoertwein', 'id': 6618166, 'node_i...",open,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj..."
4,43693,BUG: to_numeric incorrectly converting values ...,"{'login': 'jbencina', 'id': 5510940, 'node_id'...",open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=..."

In [170]:
import json
from pandas.io.json import json_normalize
user_data=json_normalize(data['user'])
user_data.head(3)

C:\Users\keith\AppData\Local\Temp/ipykernel_3716/186828016.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  user_data=json_normalize(data['user'])

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,kasmith11,29484286,MDQ6VXNlcjI5NDg0Mjg2,https://avatars.githubusercontent.com/u/294842...,,https://api.github.com/users/kasmith11,https://github.com/kasmith11,https://api.github.com/users/kasmith11/followers,https://api.github.com/users/kasmith11/followi...,https://api.github.com/users/kasmith11/gists{/...,https://api.github.com/users/kasmith11/starred...,https://api.github.com/users/kasmith11/subscri...,https://api.github.com/users/kasmith11/orgs,https://api.github.com/users/kasmith11/repos,https://api.github.com/users/kasmith11/events{...,https://api.github.com/users/kasmith11/receive...,User,False
1,jorisvandenbossche,1020496,MDQ6VXNlcjEwMjA0OTY=,https://avatars.githubusercontent.com/u/102049...,,https://api.github.com/users/jorisvandenbossche,https://github.com/jorisvandenbossche,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,User,False
2,helgehatt,12933913,MDQ6VXNlcjEyOTMzOTEz,https://avatars.githubusercontent.com/u/129339...,,https://api.github.com/users/helgehatt,https://github.com/helgehatt,https://api.github.com/users/helgehatt/followers,https://api.github.com/users/helgehatt/followi...,https://api.github.com/users/helgehatt/gists{/...,https://api.github.com/users/helgehatt/starred...,https://api.github.com/users/helgehatt/subscri...,https://api.github.com/users/helgehatt/orgs,https://api.github.com/users/helgehatt/repos,https://api.github.com/users/helgehatt/events{...,https://api.github.com/users/helgehatt/receive...,User,False

In [173]:
df3=pd.concat([data[:],user_data[:]],axis=1)
df3.head()

,number,title,user,state,labels,login,id,node_id,avatar_url,gravatar_id,...,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,43700,GH36236,"{'login': 'kasmith11', 'id': 29484286, 'node_i...",open,[],kasmith11,29484286,MDQ6VXNlcjI5NDg0Mjg2,https://avatars.githubusercontent.com/u/294842...,,...,https://api.github.com/users/kasmith11/followi...,https://api.github.com/users/kasmith11/gists{/...,https://api.github.com/users/kasmith11/starred...,https://api.github.com/users/kasmith11/subscri...,https://api.github.com/users/kasmith11/orgs,https://api.github.com/users/kasmith11/repos,https://api.github.com/users/kasmith11/events{...,https://api.github.com/users/kasmith11/receive...,User,False
1,43699,API: change ExtensionArray.astype to always re...,"{'login': 'jorisvandenbossche', 'id': 1020496,...",open,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",jorisvandenbossche,1020496,MDQ6VXNlcjEwMjA0OTY=,https://avatars.githubusercontent.com/u/102049...,,...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,User,False
2,43697,BUG: idxmax raises when used with tuples,"{'login': 'helgehatt', 'id': 12933913, 'node_i...",open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",helgehatt,12933913,MDQ6VXNlcjEyOTMzOTEz,https://avatars.githubusercontent.com/u/129339...,,...,https://api.github.com/users/helgehatt/followi...,https://api.github.com/users/helgehatt/gists{/...,https://api.github.com/users/helgehatt/starred...,https://api.github.com/users/helgehatt/subscri...,https://api.github.com/users/helgehatt/orgs,https://api.github.com/users/helgehatt/repos,https://api.github.com/users/helgehatt/events{...,https://api.github.com/users/helgehatt/receive...,User,False
3,43695,TYP: redundant imports for public API,"{'login': 'twoertwein', 'id': 6618166, 'node_i...",open,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",twoertwein,6618166,MDQ6VXNlcjY2MTgxNjY=,https://avatars.githubusercontent.com/u/661816...,,...,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
4,43693,BUG: to_numeric incorrectly converting values ...,"{'login': 'jbencina', 'id': 5510940, 'node_id'...",open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",jbencina,5510940,MDQ6VXNlcjU1MTA5NDA=,https://avatars.githubusercontent.com/u/551094...,,...,https://api.github.com/users/jbencina/followin...,https://api.github.com/users/jbencina/gists{/g...,https://api.github.com/users/jbencina/starred{...,https://api.github.com/users/jbencina/subscrip...,https://api.github.com/users/jbencina/orgs,https://api.github.com/users/jbencina/repos,https://api.github.com/users/jbencina/events{/...,https://api.github.com/users/jbencina/received...,User,False

In [176]:
df4=pd.concat([data[['number','title','state']],df3[:]],axis=1)
df4.head()

,number,title,state,number,title,user,state,labels,login,id,...,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,43700,GH36236,open,43700,GH36236,"{'login': 'kasmith11', 'id': 29484286, 'node_i...",open,[],kasmith11,29484286,...,https://api.github.com/users/kasmith11/followi...,https://api.github.com/users/kasmith11/gists{/...,https://api.github.com/users/kasmith11/starred...,https://api.github.com/users/kasmith11/subscri...,https://api.github.com/users/kasmith11/orgs,https://api.github.com/users/kasmith11/repos,https://api.github.com/users/kasmith11/events{...,https://api.github.com/users/kasmith11/receive...,User,False
1,43699,API: change ExtensionArray.astype to always re...,open,43699,API: change ExtensionArray.astype to always re...,"{'login': 'jorisvandenbossche', 'id': 1020496,...",open,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",jorisvandenbossche,1020496,...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,User,False
2,43697,BUG: idxmax raises when used with tuples,open,43697,BUG: idxmax raises when used with tuples,"{'login': 'helgehatt', 'id': 12933913, 'node_i...",open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",helgehatt,12933913,...,https://api.github.com/users/helgehatt/followi...,https://api.github.com/users/helgehatt/gists{/...,https://api.github.com/users/helgehatt/starred...,https://api.github.com/users/helgehatt/subscri...,https://api.github.com/users/helgehatt/orgs,https://api.github.com/users/helgehatt/repos,https://api.github.com/users/helgehatt/events{...,https://api.github.com/users/helgehatt/receive...,User,False
3,43695,TYP: redundant imports for public API,open,43695,TYP: redundant imports for public API,"{'login': 'twoertwein', 'id': 6618166, 'node_i...",open,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",twoertwein,6618166,...,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
4,43693,BUG: to_numeric incorrectly converting values ...,open,43693,BUG: to_numeric incorrectly converting values ...,"{'login': 'jbencina', 'id': 5510940, 'node_id'...",open,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",jbencina,5510940,...,https://api.github.com/users/jbencina/followin...,https://api.github.com/users/jbencina/gists{/g...,https://api.github.com/users/jbencina/starred{...,https://api.github.com/users/jbencina/subscrip...,https://api.github.com/users/jbencina/orgs,https://api.github.com/users/jbencina/repos,https://api.github.com/users/jbencina/events{/...,https://api.github.com/users/jbencina/received...,User,False

In [177]:
data[['number','title','state']]

    number                                              title state
0    43700                                            GH36236  open
1    43699  API: change ExtensionArray.astype to always re...  open
2    43697           BUG: idxmax raises when used with tuples  open
3    43695              TYP: redundant imports for public API  open
4    43693  BUG: to_numeric incorrectly converting values ...  open
..     ...                                                ...   ...
25   43652                          CI: codecov for pyx files  open
26   43651                         REF: remove JoinUnit.shape  open
27   43650                  CI/BUG: pyarrow read_csv deadlock  open
28   43649  BUG: styler multiindex hiding indexes and colu...  open
29   43644  BUG: styler hide_index hide_columns misaligns ...  open

[30 rows x 3 columns]

In [179]:
user_data[:]

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,kasmith11,29484286,MDQ6VXNlcjI5NDg0Mjg2,https://avatars.githubusercontent.com/u/294842...,,https://api.github.com/users/kasmith11,https://github.com/kasmith11,https://api.github.com/users/kasmith11/followers,https://api.github.com/users/kasmith11/followi...,https://api.github.com/users/kasmith11/gists{/...,https://api.github.com/users/kasmith11/starred...,https://api.github.com/users/kasmith11/subscri...,https://api.github.com/users/kasmith11/orgs,https://api.github.com/users/kasmith11/repos,https://api.github.com/users/kasmith11/events{...,https://api.github.com/users/kasmith11/receive...,User,False
1,jorisvandenbossche,1020496,MDQ6VXNlcjEwMjA0OTY=,https://avatars.githubusercontent.com/u/102049...,,https://api.github.com/users/jorisvandenbossche,https://github.com/jorisvandenbossche,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,https://api.github.com/users/jorisvandenbossch...,User,False
2,helgehatt,12933913,MDQ6VXNlcjEyOTMzOTEz,https://avatars.githubusercontent.com/u/129339...,,https://api.github.com/users/helgehatt,https://github.com/helgehatt,https://api.github.com/users/helgehatt/followers,https://api.github.com/users/helgehatt/followi...,https://api.github.com/users/helgehatt/gists{/...,https://api.github.com/users/helgehatt/starred...,https://api.github.com/users/helgehatt/subscri...,https://api.github.com/users/helgehatt/orgs,https://api.github.com/users/helgehatt/repos,https://api.github.com/users/helgehatt/events{...,https://api.github.com/users/helgehatt/receive...,User,False
3,twoertwein,6618166,MDQ6VXNlcjY2MTgxNjY=,https://avatars.githubusercontent.com/u/661816...,,https://api.github.com/users/twoertwein,https://github.com/twoertwein,https://api.github.com/users/twoertwein/followers,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
4,jbencina,5510940,MDQ6VXNlcjU1MTA5NDA=,https://avatars.githubusercontent.com/u/551094...,,https://api.github.com/users/jbencina,https://github.com/jbencina,https://api.github.com/users/jbencina/followers,https://api.github.com/users/jbencina/followin...,https://api.github.com/users/jbencina/gists{/g...,https://api.github.com/users/jbencina/starred{...,https://api.github.com/users/jbencina/subscrip...,https://api.github.com/users/jbencina/orgs,https://api.github.com/users/jbencina/repos,https://api.github.com/users/jbencina/events{/...,https://api.github.com/users/jbencina/received...,User,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,twoertwein,6618166,MDQ6VXNlcjY2MTgxNjY=,https://avatars.githubusercontent.com/u/661816...,,https://api.github.com/users/twoertwein,https://github.com/twoertwein,https://api.github.com/users/twoertwein/followers,https://api.github.com/users/twoertwein/follow...,https://api.github.com/users/twoertwein/gists{...,https://api.github.com/users/twoertwein/starre...,https://api.github.com/users/twoertwein/subscr...,https://api.github.com/users/twoertwein/orgs,https://api.github.com/users/twoertwein/repos,https://api.github.com/users/twoertwein/events...,https://api.github.com/users/twoertwein/receiv...,User,False
26,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
27,mzeitlin11,37011898,MDQ6VXNlcjM3MDExODk4,https://avatars.githubusercontent.com/u/370118...,,https://api.github.com/users/mzeitlin11,https://github.com/mzeitlin11,https://api.github.com/users/mzeitlin11/followers,https://api.github.com/users/mzeitlin11/follow...,https://api.github.com/users/mzeitlin11/gists{...,https://api.github.com/users/mzeitlin11/starre...,https://api.github.com/users/mzeitlin11/subscr...,https://api.github.com/users/mzeitlin11/orgs,https://api.github.com/users/mzeitlin11/repos,https://api.github.com/users/mzeitlin11/events...,https://api.github.com/users/mzeitlin11/receiv...,User,False
28,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
29,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False