In [1]:
import numpy as np
data=np.arange(5000).reshape(100,50)

In [2]:
data.shape

(100, 50)

In [3]:
import pandas as pd

In [4]:
col_name=['colum_'+str(i) for i in range(1,51)]

In [5]:
col_name

['colum_1',
 'colum_2',
 'colum_3',
 'colum_4',
 'colum_5',
 'colum_6',
 'colum_7',
 'colum_8',
 'colum_9',
 'colum_10',
 'colum_11',
 'colum_12',
 'colum_13',
 'colum_14',
 'colum_15',
 'colum_16',
 'colum_17',
 'colum_18',
 'colum_19',
 'colum_20',
 'colum_21',
 'colum_22',
 'colum_23',
 'colum_24',
 'colum_25',
 'colum_26',
 'colum_27',
 'colum_28',
 'colum_29',
 'colum_30',
 'colum_31',
 'colum_32',
 'colum_33',
 'colum_34',
 'colum_35',
 'colum_36',
 'colum_37',
 'colum_38',
 'colum_39',
 'colum_40',
 'colum_41',
 'colum_42',
 'colum_43',
 'colum_44',
 'colum_45',
 'colum_46',
 'colum_47',
 'colum_48',
 'colum_49',
 'colum_50']

In [6]:
dataf=pd.DataFrame(data,columns=col_name)

In [7]:
dataf

,colum_1,colum_2,colum_3,colum_4,colum_5,colum_6,colum_7,colum_8,colum_9,colum_10,...,colum_41,colum_42,colum_43,colum_44,colum_45,colum_46,colum_47,colum_48,colum_49,colum_50
0,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,50,51,52,53,54,55,56,57,58,59,...,90,91,92,93,94,95,96,97,98,99
2,100,101,102,103,104,105,106,107,108,109,...,140,141,142,143,144,145,146,147,148,149
3,150,151,152,153,154,155,156,157,158,159,...,190,191,192,193,194,195,196,197,198,199
4,200,201,202,203,204,205,206,207,208,209,...,240,241,242,243,244,245,246,247,248,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4750,4751,4752,4753,4754,4755,4756,4757,4758,4759,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
96,4800,4801,4802,4803,4804,4805,4806,4807,4808,4809,...,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849
97,4850,4851,4852,4853,4854,4855,4856,4857,4858,4859,...,4890,4891,4892,4893,4894,4895,4896,4897,4898,4899
98,4900,4901,4902,4903,4904,4905,4906,4907,4908,4909,...,4940,4941,4942,4943,4944,4945,4946,4947,4948,4949
99,4950,4951,4952,4953,4954,4955,4956,4957,4958,4959,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999

In [8]:
type(dataf)

pandas.core.frame.DataFrame

In [9]:
type(dataf['colum_1'])

pandas.core.series.Series

In [10]:
dict1={'name1': 'XYZ1','name2':'XYZ2'}
dict2={'score1': 15,'score2':15}

In [11]:
pd.DataFrame(data=[dict1,dict2])

  name1 name2  score1  score2
0  XYZ1  XYZ2     NaN     NaN
1   NaN   NaN    15.0    15.0

In [12]:
dict3={'name1':[range(10)],'name2':[range(10,20)]}

In [13]:
k=pd.DataFrame(dict3)

In [14]:
dfk=pd.read_csv('https://raw.githubusercontent.com/sharmasw/Data-Science-with-python/master/dataset_32_pendigits.csv')

In [15]:
dfk.head()

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
0,47,100,27,81,57,37,26,0,0,23,56.0,53,100,90,40,98,8
1,0,89,27,100,42,75,29,45,15,15,37.0,0,69,2,100,6,2
2,0,57,31,68,72,90,100,100,76,75,50.0,51,28,25,16,0,1
3,0,100,7,92,5,68,19,45,86,34,100.0,45,74,23,67,0,4
4,0,67,49,83,100,100,81,80,60,60,40.0,40,33,20,47,0,1

In [16]:
dfk.columns

Index(['input1', 'input2', 'input3', 'input4', 'input5', 'input6', 'input7',
       'input8', 'input9', 'input10', 'input11', 'input12', 'input13',
       'input14', 'input15', 'input16', 'class'],
      dtype='object')

In [17]:
dfk.dtypes

input1       int64
input2       int64
input3       int64
input4       int64
input5       int64
input6       int64
input7       int64
input8       int64
input9       int64
input10      int64
input11    float64
input12      int64
input13      int64
input14      int64
input15      int64
input16      int64
class        int64
dtype: object

In [18]:
dfk.describe()

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
count,10992.000000,10992.000000,10992.000000,10992.000000,10992.000000,10992.000000,10992.000000,10992.000000,10992.000000,10992.000000,10744.000000,10992.000000,10992.000000,10992.000000,10992.000000,10992.000000,10992.000000
mean,38.814320,85.120269,40.605622,83.774199,49.770378,65.573144,51.220251,44.498999,56.868541,33.695961,59.769918,34.826510,55.022289,34.937045,47.287482,28.845342,4.431587
std,34.257783,16.218571,26.342984,19.163646,34.100515,26.996688,30.576881,29.906104,34.135530,27.251548,37.385931,27.119982,22.335539,33.155463,41.760400,35.778094,2.876947
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,76.000000,20.000000,72.000000,18.000000,49.000000,28.000000,23.000000,29.000000,7.000000,22.000000,11.000000,42.000000,5.000000,0.000000,0.000000,2.000000
50%,32.000000,89.000000,40.000000,91.000000,53.000000,71.000000,53.500000,43.000000,60.000000,33.000000,72.000000,30.000000,53.000000,27.000000,40.000000,9.000000,4.000000
75%,65.000000,100.000000,58.000000,100.000000,78.000000,86.000000,74.000000,64.000000,89.000000,54.000000,98.000000,55.000000,68.000000,47.000000,100.000000,51.000000,7.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,9.000000

In [19]:
dfk.index

RangeIndex(start=0, stop=10992, step=1)

In [20]:
dfk.loc[1]

input1       0.0
input2      89.0
input3      27.0
input4     100.0
input5      42.0
input6      75.0
input7      29.0
input8      45.0
input9      15.0
input10     15.0
input11     37.0
input12      0.0
input13     69.0
input14      2.0
input15    100.0
input16      6.0
class        2.0
Name: 1, dtype: float64

In [21]:
dfk.loc[[1]]

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
1,0,89,27,100,42,75,29,45,15,15,37.0,0,69,2,100,6,2

In [22]:
dfk.loc[:3,['input1','input2']]

   input1  input2
0      47     100
1       0      89
2       0      57
3       0     100

In [23]:
dfk.loc[:4,['input1','input2','input3','input4']]

   input1  input2  input3  input4
0      47     100      27      81
1       0      89      27     100
2       0      57      31      68
3       0     100       7      92
4       0      67      49      83

In [24]:
dfk.iloc[1]

input1       0.0
input2      89.0
input3      27.0
input4     100.0
input5      42.0
input6      75.0
input7      29.0
input8      45.0
input9      15.0
input10     15.0
input11     37.0
input12      0.0
input13     69.0
input14      2.0
input15    100.0
input16      6.0
class        2.0
Name: 1, dtype: float64

In [25]:
dfk.iloc[[1]]

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
1,0,89,27,100,42,75,29,45,15,15,37.0,0,69,2,100,6,2

In [26]:
dfk.iloc[:4,:4]

   input1  input2  input3  input4
0      47     100      27      81
1       0      89      27     100
2       0      57      31      68
3       0     100       7      92

In [27]:
dfk[dfk['input2'].apply(lambda x :x<50)]

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
7,0,39,2,62,11,5,63,0,100,43,89.0,99,36,100,0,57,0
21,0,46,49,64,78,87,100,100,91,75,85.0,49,75,24,89,0,1
34,0,0,31,15,63,30,88,52,100,79,82.0,100,56,82,79,64,9
137,0,42,30,56,59,72,86,94,100,100,80.0,68,62,35,53,0,1
146,0,42,34,57,64,79,95,100,100,85,81.0,57,62,28,45,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10805,0,43,32,58,67,79,100,100,89,76,76.0,51,63,25,59,0,1
10866,0,42,40,60,74,81,100,100,90,74,78.0,48,66,23,65,0,1
10879,0,45,42,70,66,100,60,62,47,25,1.0,5,43,0,100,4,1
10880,0,3,29,24,57,50,83,77,100,100,80.0,69,64,35,51,0,1
10933,0,15,29,40,59,68,85,97,100,100,79.0,67,60,34,46,0,1

In [28]:
dfk.isnull().sum()

input1       0
input2       0
input3       0
input4       0
input5       0
input6       0
input7       0
input8       0
input9       0
input10      0
input11    248
input12      0
input13      0
input14      0
input15      0
input16      0
class        0
dtype: int64

In [29]:
dfk['input11'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
10987    False
10988    False
10989    False
10990    False
10991    False
Name: input11, Length: 10992, dtype: bool

In [78]:
dfk['input11']=dfk['input11'].fillna(dfk['input11'].mean())

In [31]:
dfk['input11'].isnull().sum()

248

In [32]:
sample=pd.DataFrame(np.ones(10),columns=['column1'],index=['col'+str(i)for i in range(1,11)])

In [33]:
sample

       column1
col1       1.0
col2       1.0
col3       1.0
col4       1.0
col5       1.0
col6       1.0
col7       1.0
col8       1.0
col9       1.0
col10      1.0

In [34]:
np.cumsum(sample)

       column1
col1       1.0
col2       2.0
col3       3.0
col4       4.0
col5       5.0
col6       6.0
col7       7.0
col8       8.0
col9       9.0
col10     10.0

In [35]:
series_obj=dfk['input1']
padascore_DataFrame=dfk[['input1']]

In [36]:
series_obj.map(str)

0        47
1         0
2         0
3         0
4         0
         ..
10987    36
10988    16
10989    56
10990    19
10991    38
Name: input1, Length: 10992, dtype: object

In [37]:
series_obj[0].dtype

dtype('int64')

In [38]:
dictCheck={'a':10,'b':20,'c':30}

In [39]:
sampNumpy=np.array(['a','b','c','a','b','c'])

In [40]:
dataFSamp=pd.DataFrame(sampNumpy,columns=['ColumnName'])

In [41]:
dataFSamp

  ColumnName
0          a
1          b
2          c
3          a
4          b
5          c

In [42]:
dataFSamp['ColumnName'].map(dictCheck)

0    10
1    20
2    30
3    10
4    20
5    30
Name: ColumnName, dtype: int64

In [43]:
def checkfunc(x):
    return dictCheck[x]

In [44]:
d=dataFSamp['ColumnName'].map(checkfunc)

In [45]:
checkfunc('a')

10

In [46]:
series_obj.dtype

dtype('int64')

In [47]:
def checkfunc(x):
    if x<10:
        return 'G10'
    elif x<50:
        return 'G50'
    elif x<90:
        return 'G90'
    else:
        return 'No'

In [48]:
dfk['input4'].apply(checkfunc)

0        G90
1         No
2        G90
3         No
4        G90
        ...
10987    G90
10988     No
10989    G90
10990    G90
10991    G90
Name: input4, Length: 10992, dtype: object

In [49]:
import datetime
a=datetime.datetime.now()
dfk['input4'].apply(checkfunc)
b=datetime.datetime.now()
print(b-a)

0:00:00.005985

In [50]:
datetime.datetime.now()

datetime.datetime(2021, 9, 26, 12, 33, 36, 831863)

In [51]:
import datetime
a=datetime.datetime.now()
dfk['input4'].map(checkfunc)
b=datetime.datetime.now()
print(b-a)

0:00:00.004986

In [52]:
import datetime
a=datetime.datetime.now()
dfk['input4'].apply(lambda x:checkfunc(x))
b=datetime.datetime.now()
print(b-a)

0:00:00.007980

In [53]:
#apply map

In [54]:
dfk.applymap(checkfunc)

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
0,G50,No,G50,G90,G90,G50,G50,G10,G10,G50,G90,G90,No,No,G50,No,G10
1,G10,G90,G50,No,G50,G90,G50,G50,G50,G50,G50,G10,G90,G10,No,G10,G10
2,G10,G90,G50,G90,G90,No,No,No,G90,G90,G90,G90,G50,G50,G50,G10,G10
3,G10,No,G10,No,G10,G90,G50,G50,G90,G50,No,G50,G90,G50,G90,G10,G10
4,G10,G90,G50,G90,No,No,G90,G90,G90,G90,G50,G50,G50,G50,G50,G10,G10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10987,G50,No,G50,G90,G10,G50,G50,G50,No,G50,G90,G90,No,G50,No,G10,G10
10988,G50,G90,G50,No,G90,G90,G50,G50,G10,G10,G50,G10,G90,G10,No,G50,G10
10989,G90,No,G50,G90,G10,G50,G50,G10,G90,G50,No,G90,No,No,G50,No,G10
10990,G50,No,G10,G90,G10,G50,G50,G10,No,G50,No,G90,G90,No,G50,G90,G10
10991,G50,No,G50,G90,G50,G90,G10,G50,G90,G50,No,G50,G90,G50,G90,G10,G10

In [55]:
def ok(x,y):
    try:
        return (x/y)
    except:
        return 0

In [56]:
dfk[['input2','input3']].apply(lambda x:ok(*x),axis=1)

0         3.703704
1         3.296296
2         1.838710
3        14.285714
4         1.367347
           ...
10987     4.166667
10988     1.829268
10989     3.703704
10990     0.000000
10991     2.702703
Length: 10992, dtype: float64

In [57]:
table1=pd.DataFrame(data={'column1':[1,2,3,4],'column2':[5,6,7,8]})
table2=pd.DataFrame(data={'column1':[9,10,11,12],'column2':[13,14,15,16]})
table3=pd.DataFrame(data={'column3':[1,1,2,2],'column4':[5,6,7,8]})

In [58]:
pd.concat([table1,table2])

   column1  column2
0        1        5
1        2        6
2        3        7
3        4        8
0        9       13
1       10       14
2       11       15
3       12       16

In [59]:
pd.concat([table1,table3])

   column1  column2  column3  column4
0      1.0      5.0      NaN      NaN
1      2.0      6.0      NaN      NaN
2      3.0      7.0      NaN      NaN
3      4.0      8.0      NaN      NaN
0      NaN      NaN      1.0      5.0
1      NaN      NaN      1.0      6.0
2      NaN      NaN      2.0      7.0
3      NaN      NaN      2.0      8.0

In [60]:
pd.merge(table1,table3,left_on=['column1'],right_on=['column3'],how='left')

   column1  column2  column3  column4
0        1        5      1.0      5.0
1        1        5      1.0      6.0
2        2        6      2.0      7.0
3        2        6      2.0      8.0
4        3        7      NaN      NaN
5        4        8      NaN      NaN

In [61]:
dexcel=pd.read_excel(r'C:\Users\keith\Downloads\Sample - Superstore.xls')

In [62]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\keith\anaconda3\envs\ml_models\lib\site-packages (2.0.1)

In [63]:
dexcel.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [64]:
dexcel.shape

(9994, 21)

In [65]:
dexcel.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [66]:
dexcel.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [67]:
np.unique(dexcel['Product ID'])

array(['FUR-BO-10000112', 'FUR-BO-10000330', 'FUR-BO-10000362', ...,
       'TEC-PH-10004924', 'TEC-PH-10004959', 'TEC-PH-10004977'],
      dtype=object)

In [68]:
len(np.unique(dexcel['Product ID']))

1862

In [69]:
for col in dexcel.columns:
    print(col,'>>>>',len(np.unique(dexcel[col])))

Row ID >>>> 9994
Order ID >>>> 5009
Order Date >>>> 1237
Ship Date >>>> 1334
Ship Mode >>>> 4
Customer ID >>>> 793
Customer Name >>>> 793
Segment >>>> 3
Country >>>> 1
City >>>> 531
State >>>> 49
Postal Code >>>> 631
Region >>>> 4
Product ID >>>> 1862
Category >>>> 3
Sub-Category >>>> 17
Product Name >>>> 1850
Sales >>>> 6144
Quantity >>>> 14
Discount >>>> 12
Profit >>>> 7545

In [70]:
mean=pd.pivot_table(dexcel,index="Sub-Category",values=['Sales','Profit'],aggfunc='mean').reset_index()

In [71]:
pd.pivot_table(dexcel,index='Sub-Category',values=['Sales','Profit'],aggfunc=np.max)

                 Profit      Sales
Sub-Category
Accessories    829.3754   3347.370
Appliances     793.7160   2625.120
Art            112.5740   1113.024
Binders       4946.3700   9892.740
Bookcases     1013.1270   4404.900
Chairs         770.3520   4416.174
Copiers       8399.9760  17499.950
Envelopes      204.0714    604.656
Fasteners       21.8880     93.360
Furnishings    387.5676   1336.440
Labels         385.3752    786.480
Machines      2799.9840  22638.480
Paper          352.2960    733.950
Phones        1228.1787   4548.810
Storage        792.2691   2934.330
Supplies       327.5060   8187.650
Tables         629.0100   4297.644

In [72]:
std=pd.pivot_table(dexcel,index='Sub-Category',values=['Sales','Profit'],aggfunc='std').reset_index()

In [73]:
mean.columns=['Sub-Category','mean_profit','mean_sales']
std.columns=['Sub-Category','std_profit','std-sales']

In [74]:
merge=pd.merge(mean,std,on='Sub-Category',how='left')

In [75]:
merge

   Sub-Category  mean_profit   mean_sales   std_profit    std-sales
0   Accessories    54.111788   215.974604   106.155455   334.965015
1    Appliances    38.922758   230.755710   148.319146   388.949643
2           Art     8.200737    34.068834    13.384264    60.122465
3       Binders    19.843574   133.560560   306.196773   563.251188
4     Bookcases   -15.230509   503.859633   182.034224   638.748523
5        Chairs    43.095894   532.332420   127.099922   550.148243
6       Copiers   817.909190  2198.941618  1460.921156  3175.665867
7     Envelopes    27.418019    64.867724    35.354983    84.351633
8     Fasteners     4.375660    13.936774     5.055053    12.416593
9   Furnishings    13.645918    95.825668    52.753228   147.893640
10       Labels    15.236962    34.303055    34.084127    74.119287
11     Machines    29.432669  1645.553313  1099.070067  2765.102088
12        Paper    24.856620    57.284092    35.225214    78.167639
13       Phones    50.073938   371.211534   113.251277   491.457343
14      Storage    25.152277   264.590553    81.923600   355.222507
15     Supplies    -6.258418   245.650200   105.059628   923.828753
16       Tables   -55.565771   648.794771   230.565006   615.774655

In [79]:
dfk.head()

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
0,47,100,27,81,57,37,26,0,0,23,56.0,53,100,90,40,98,8
1,0,89,27,100,42,75,29,45,15,15,37.0,0,69,2,100,6,2
2,0,57,31,68,72,90,100,100,76,75,50.0,51,28,25,16,0,1
3,0,100,7,92,5,68,19,45,86,34,100.0,45,74,23,67,0,4
4,0,67,49,83,100,100,81,80,60,60,40.0,40,33,20,47,0,1

In [80]:
dexcel.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [92]:
custName=pd.pivot_table(dexcel,index=['Customer ID'],values=['Sales'],aggfunc='sum')\
         .reset_index().sort_values(by='Sales',ascending=False).head(20)['Customer ID'].values

In [93]:
custName

array(['SM-20320', 'TC-20980', 'RB-19360', 'TA-21385', 'AB-10105',
       'KL-16645', 'SC-20095', 'HL-15040', 'SE-20110', 'CC-12370',
       'TS-21370', 'GT-14710', 'BM-11140', 'SV-20365', 'CJ-12010',
       'CL-12565', 'ME-17320', 'KF-16285', 'BS-11365', 'EH-13765'],
      dtype=object)

In [84]:
custName['Customer ID'].values

array(['SM-20320', 'TC-20980', 'RB-19360', 'TA-21385', 'AB-10105',
       'KL-16645', 'SC-20095', 'HL-15040', 'SE-20110', 'CC-12370',
       'TS-21370', 'GT-14710', 'BM-11140', 'SV-20365', 'CJ-12010',
       'CL-12565', 'ME-17320', 'KF-16285', 'BS-11365', 'EH-13765'],
      dtype=object)

In [85]:
np.unique(dexcel['Region'])

array(['Central', 'East', 'South', 'West'], dtype=object)

In [97]:
filtData=dexcel[(dexcel['Customer ID'].isin(custName)) & (dexcel['Region']=='South')]

In [98]:
filtData

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1121,1122,US-2014-147627,2014-01-20,2014-01-26,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Jonesboro,...,72401,South,TEC-PH-10001061,Technology,Phones,Apple iPhone 5C,699.930,7,0.00,181.9818
1122,1123,US-2014-147627,2014-01-20,2014-01-26,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Jonesboro,...,72401,South,OFF-AR-10002375,Office Supplies,Art,Newell 351,22.960,7,0.00,6.6584
1123,1124,US-2014-147627,2014-01-20,2014-01-26,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Jonesboro,...,72401,South,FUR-FU-10003194,Furniture,Furnishings,"Eldon Expressions Desk Accessory, Wood Pencil ...",38.600,4,0.00,11.5800
1124,1125,US-2014-147627,2014-01-20,2014-01-26,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Jonesboro,...,72401,South,OFF-AR-10003811,Office Supplies,Art,Newell 327,6.630,3,0.00,1.7901
1125,1126,US-2014-147627,2014-01-20,2014-01-26,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Jonesboro,...,72401,South,OFF-EN-10001539,Office Supplies,Envelopes,Staple envelope,23.340,3,0.00,10.9698
1126,1127,US-2014-147627,2014-01-20,2014-01-26,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Jonesboro,...,72401,South,FUR-CH-10002331,Furniture,Chairs,Hon 4700 Series Mobuis Mid-Back Task Chairs wi...,1067.940,3,0.00,224.2674
1455,1456,CA-2017-148474,2017-06-12,2017-06-19,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Columbus,...,31907,South,OFF-BI-10000977,Office Supplies,Binders,Ibico Plastic Spiral Binding Combs,91.200,3,0.00,41.9520
1456,1457,CA-2017-148474,2017-06-12,2017-06-19,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Columbus,...,31907,South,FUR-TA-10002530,Furniture,Tables,"Iceberg OfficeWorks 42"" Round Tables",452.940,3,0.00,67.9410
1564,1565,CA-2014-116239,2014-03-04,2014-03-04,Same Day,CL-12565,Clay Ludtke,Consumer,United States,Columbia,...,29203,South,OFF-ST-10001370,Office Supplies,Storage,Sensible Storage WireTech Storage Systems,354.900,5,0.00,17.7450
1932,1933,CA-2017-161200,2017-08-06,2017-08-10,Second Class,SV-20365,Seth Vernon,Consumer,United States,Lafayette,...,70506,South,FUR-BO-10000468,Furniture,Bookcases,O'Sullivan 2-Shelf Heavy-Duty Bookcases,145.740,3,0.00,23.3184
1933,1934,CA-2017-161200,2017-08-06,2017-08-10,Second Class,SV-20365,Seth Vernon,Consumer,United States,Lafayette,...,70506,South,FUR-FU-10001706,Furniture,Furnishings,Longer-Life Soft White Bulbs,15.400,5,0.00,7.3920
2266,2267,CA-2017-149146,2017-10-12,2017-10-12,Same Day,SM-20320,Sean Miller,Home Office,United States,Monroe,...,28110,South,OFF-PA-10003919,Office Supplies,Paper,Xerox 1989,7.968,2,0.20,2.6892
2551,2552,CA-2017-101042,2017-11-19,2017-11-23,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Henderson,...,42420,South,FUR-FU-10004665,Furniture,Furnishings,"3M Polarizing Task Lamp with Clamp Arm, Light ...",821.880,6,0.00,213.6888
2552,2553,CA-2017-101042,2017-11-19,2017-11-23,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Henderson,...,42420,South,OFF-BI-10000088,Office Supplies,Binders,GBC Imprintable Covers,21.960,2,0.00,10.7604
2696,2697,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,TEC-MA-10003626,Technology,Machines,Hewlett-Packard Deskjet 6540 Color Inkjet Printer,821.300,4,0.50,-16.4260
2697,2698,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.50,-1811.0784
2698,2699,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,OFF-PA-10001804,Office Supplies,Paper,Xerox 195,21.376,4,0.20,7.4816
2699,2700,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,OFF-AR-10003183,Office Supplies,Art,Avery Fluorescent Highlighter Four-Color Set,8.016,3,0.20,1.0020
2700,2701,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,FUR-FU-10004270,Furniture,Furnishings,"Executive Impressions 13"" Clairmont Wall Clock",30.768,2,0.20,8.0766
2701,2702,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,OFF-FA-10003112,Office Supplies,Fasteners,Staples,18.936,3,0.20,5.9175
2702,2703,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,FUR-FU-10001986,Furniture,Furnishings,"Dana Fluorescent Magnifying Lamp, White, 36""",122.352,3,0.20,15.2940
2857,2858,CA-2016-154690,2016-08-15,2016-08-17,Second Class,CC-12370,Christopher Conant,Consumer,United States,Fayetteville,...,28314,South,FUR-CH-10000988,Furniture,Chairs,Hon Olson Stacker Stools,225.296,2,0.20,22.5296
3957,3958,CA-2016-156573,2016-05-29,2016-06-02,Standard Class,RB-19360,Raymond Buch,Consumer,United States,Nashville,...,37211,South,OFF-BI-10002414,Office Supplies,Binders,GBC ProClick Spines for 32-Hole Punch,11.277,3,0.70,-8.6457
3958,3959,CA-2016-156573,2016-05-29,2016-06-02,Standard Class,RB-19360,Raymond Buch,Consumer,United States,Nashville,...,37211,South,OFF-AR-10003732,Office Supplies,Art,Newell 333,4.448,2,0.20,0.3336
3959,3960,CA-2016-156573,2016-05-29,2016-06-02,Standard Class,RB-19360,Raymond Buch,Consumer,United States,Nashville,...,37211,South,FUR-FU-10001085,Furniture,Furnishings,3M Polarizing Light Filter Sleeves,44.760,3,0.20,14.5470
4242,4243,CA-2016-159142,2016-04-04,2016-04-05,First Class,ME-17320,Maria Etezadi,Home Office,United States,Springfield,...,22153,South,TEC-PH-10001448,Technology,Phones,Anker Astro 15000mAh USB Portable Charger,149.970,3,0.00,5.9988
4243,4244,CA-2016-159142,2016-04-04,2016-04-05,First Class,ME-17320,Maria Etezadi,Home Office,United States,Springfield,...,22153,South,OFF-PA-10001776,Office Supplies,Paper,"Wirebound Message Books, Four 2 3/4"" x 5"" Form...",27.810,3,0.00,13.0707
4421,4422,CA-2014-117016,2014-03-04,2014-03-09,Standard Class,SC-20095,Sanjit Chand,Consumer,United States,Margate,...,33063,South,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",15.552,3,0.20,2.3328
5872,5873,CA-2017-129910,2017-03-30,2017-04-03,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Columbus,...,31907,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",59.760,1,0.00,16.7328
7474,7475,CA-2014-167199,2014-01-06,2014-01-10,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,2573.820,9,0.00,746.4078
7475,7476,CA-2014-167199,2014-01-06,2014-01-10,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,OFF-BI-10004632,Office Supplies,Binders,Ibico Hi-Tech Manual Binding System,609.980,2,0.00,274.4910
7476,7477,CA-2014-167199,2014-01-06,2014-01-10,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,OFF-AR-10001662,Office Supplies,Art,Rogers Handheld Barrel Pencil Sharpener,5.480,2,0.00,1.4796
7477,7478,CA-2014-167199,2014-01-06,2014-01-10,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.00,113.6742
7478,7479,CA-2014-167199,2014-01-06,2014-01-10,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,TEC-PH-10004539,Technology,Phones,Wireless Extenders zBoost YX545 SOHO Signal Bo...,755.960,4,0.00,204.1092
7479,7480,CA-2014-167199,2014-01-06,2014-01-10,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,OFF-FA-10001883,Office Supplies,Fasteners,"Alliance Super-Size Bands, Assorted Sizes",31.120,4,0.00,0.3112
7480,7481,CA-2014-167199,2014-01-06,2014-01-10,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,OFF-PA-10000955,Office Supplies,Paper,Southworth 25% Cotton Granite Paper & Envelopes,6.540,1,0.00,3.0084
8234,8235,CA-2017-102204,2017-05-01,2017-05-06,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Jacksonville,...,32216,South,OFF-SU-10001212,Office Supplies,Supplies,Kleencut Forged Office Shears by Acme United C...,3.328,2,0.20,0.4160
8235,8236,CA-2017-102204,2017-05-01,2017-05-06,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Jacksonville,...,32216,South,FUR-TA-10001889,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,933.262,4,0.45,-458.1468
8236,8237,CA-2017-102204,2017-05-01,2017-05-06,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Jacksonville,...,32216,South,FUR-CH-10002024,Furniture,Chairs,HON 5400 Series Task Chairs for Big and Tall,2803.920,5,0.20,0.0000
8245,8246,US-2014-143581,2014-08-19,2014-08-23,Standard Class,BS-11365,Bill Shonely,Corporate,United States,Columbus,...,31907,South,OFF-ST-10000991,Office Supplies,Storage,Space Solutions HD Industrial Steel Shelving.,344.910,3,0.00,10.3473
8337,8338,CA-2014-153087,2014-12-27,2015-01-03,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Decatur,...,35601,South,OFF-PA-10001243,Office Supplies,Paper,Xerox 1983,23.920,4,0.00,11.7208
8338,8339,CA-2014-153087,2014-12-27,2015-01-03,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Decatur,...,35601,South,TEC-AC-10003198,Technology,Accessories,Enermax Acrylux Wireless Keyboard,498.000,5,0.00,184.2600
8488,8489,CA-2016-158841,2016-02-02,2016-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,United States,Arlington,...,22204,South,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.950,5,0.00,2799.9840
8489,8490,CA-2016-158841,2016-02-02,2016-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,United States,Arlington,...,22204,South,OFF-BI-10002557,Office Supplies,Binders,Presstex Flexible Ring Binders,36.400,8,0.00,18.2000
8490,8491,CA-2016-158841,2016-02-02,2016-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,United States,Arlington,...,22204,South,FUR-FU-10001731,Furniture,Furnishings,Acrylic Self-Standing Desk Frames,18.690,7,0.00,7.1022
8833,8834,US-2017-132675,2017-09-24,2017-09-28,Standard Class,KF-16285,Karen Ferguson,Home Office,United States,Sandy Springs,...,30328,South,OFF-ST-10004950,Office Supplies,Storage,Tenex Personal Filing Tote With Secure Closure...,15.510,1,0.00,3.8775
8834,8835,US-2017-132675,2017-09-24,2017-09-28,Standard Class,KF-16285,Karen Ferguson,Home Office,United States,Sandy Springs,...,30328,South,TEC-PH-10003171,Technology,Phones,Plantronics Encore H101 Dual EarpiecesÂ Headset,89.900,2,0.00,25.1720
8835,8836,US-2017-132675,2017-09-24,2017-09-28,Standard Class,KF-16285,Karen Ferguson,Home Office,United States,Sandy Springs,...,30328,South,OFF-AR-10000614,Office Supplies,Art,Barrel Sharpener,14.280,4,0.00,3.7128
8836,8837,US-2017-132675,2017-09-24,2017-09-28,Standard Class,KF-16285,Karen Ferguson,Home Office,United States,Sandy Springs,...,30328,South,OFF-AR-10000034,Office Supplies,Art,"BIC Brite Liner Grip Highlighters, Assorted, 5...",12.720,3,0.00,4.9608
8837,8838,US-2017-132675,2017-09-24,2017-09-28,Standard Class,KF-16285,Karen Ferguson,Home Office,United States,Sandy Springs,...,30328,South,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,15.750,5,0.00,7.5600
9033,9034,CA-2014-152268,2014-09-02,2014-09-07,Standard Class,SC-20095,Sanjit Chand,Consumer,United States,Fayetteville,...,72701,South,OFF-BI-10001359,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,1793.980,2,0.00,843.1706

In [94]:
dexcel[dexcel['Customer ID'].isin(custName)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
111,112,CA-2016-128867,2016-11-03,2016-11-10,Standard Class,CL-12565,Clay Ludtke,Consumer,United States,Urbandale,...,50322,Central,OFF-AR-10000380,Office Supplies,Art,"Hunt PowerHouse Electric Pencil Sharpener, Blue",75.960,2,0.0,22.7880
112,113,CA-2016-128867,2016-11-03,2016-11-10,Standard Class,CL-12565,Clay Ludtke,Consumer,United States,Urbandale,...,50322,Central,OFF-BI-10003981,Office Supplies,Binders,"Avery Durable Plastic 1"" Binders",27.240,6,0.0,13.3476
164,165,CA-2014-139892,2014-09-08,2014-09-12,Standard Class,BM-11140,Becky Martin,Consumer,United States,San Antonio,...,78207,Central,OFF-AR-10004441,Office Supplies,Art,BIC Brite Liner Highlighters,9.936,3,0.2,2.7324
165,166,CA-2014-139892,2014-09-08,2014-09-12,Standard Class,BM-11140,Becky Martin,Consumer,United States,San Antonio,...,78207,Central,TEC-MA-10000822,Technology,Machines,Lexmark MX611dhe Monochrome Laser Printer,8159.952,8,0.4,-1359.9920
166,167,CA-2014-139892,2014-09-08,2014-09-12,Standard Class,BM-11140,Becky Martin,Consumer,United States,San Antonio,...,78207,Central,OFF-ST-10000991,Office Supplies,Storage,Space Solutions HD Industrial Steel Shelving.,275.928,3,0.2,-58.6347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9849,9850,CA-2014-142979,2014-04-12,2014-04-18,Standard Class,EH-13765,Edward Hooks,Corporate,United States,Lodi,...,95240,West,OFF-AR-10002987,Office Supplies,Art,Prismacolor Color Pencil Set,39.680,2,0.0,16.2688
9850,9851,CA-2016-158155,2016-05-02,2016-05-06,Standard Class,EH-13765,Edward Hooks,Corporate,United States,New York City,...,10009,East,FUR-FU-10000732,Furniture,Furnishings,Eldon 200 Class Desk Accessories,12.560,2,0.0,4.0192
9851,9852,CA-2016-158155,2016-05-02,2016-05-06,Standard Class,EH-13765,Edward Hooks,Corporate,United States,New York City,...,10009,East,OFF-BI-10001670,Office Supplies,Binders,Vinyl Sectional Post Binders,90.480,3,0.2,33.9300
9852,9853,CA-2016-158155,2016-05-02,2016-05-06,Standard Class,EH-13765,Edward Hooks,Corporate,United States,New York City,...,10009,East,OFF-PA-10000533,Office Supplies,Paper,Southworth Parchment Paper & Envelopes,13.080,2,0.0,6.0168
9853,9854,CA-2016-158155,2016-05-02,2016-05-06,Standard Class,EH-13765,Edward Hooks,Corporate,United States,New York City,...,10009,East,FUR-FU-10002253,Furniture,Furnishings,"Howard Miller 13"" Diameter Pewter Finish Round...",214.700,5,0.0,83.7330

In [102]:
dexcel.groupby('Region').sum()

           Row ID  Postal Code        Sales  Quantity  Discount       Profit
Region
Central  11685963    151786150  501239.8908      8780    558.34   39706.3625
East     14073919     50171698  678781.2400     10618    414.00   91522.7800
South     8213295     55875052  391721.9050      6209    238.55   46749.4303
West     15971838    293739752  725457.8245     12266    350.20  108418.4489

In [103]:
dexcel.groupby(['Region','Customer ID']).sum().head(5)

                     Row ID  Postal Code     Sales  Quantity  Discount  \
Region  Customer ID
Central AA-10315      23123       425470  4780.552        19       0.8
        AA-10375       1617       136208   178.370         5       0.0
        AA-10480      54075       570205  1747.500        31       0.0
        AA-10645      24027       219360  1971.460        12       0.0
        AB-10015      25828       222257   576.564         6       0.2

                       Profit
Region  Customer ID
Central AA-10315    -650.5971
        AA-10375      62.0658
        AA-10480     420.4986
        AA-10645     439.3138
        AB-10015     114.3432

In [109]:
dexcel.groupby(['Region','Customer ID']).agg({'Sales':'sum','Profit':'sum'})\
.reset_index()

       Region Customer ID     Sales     Profit
0     Central    AA-10315  4780.552  -650.5971
1     Central    AA-10375   178.370    62.0658
2     Central    AA-10480  1747.500   420.4986
3     Central    AA-10645  1971.460   439.3138
4     Central    AB-10015   576.564   114.3432
...       ...         ...       ...        ...
2496     West    XP-21865   660.190   298.3414
2497     West    YC-21895  1215.676   382.0575
2498     West    YS-21880  5754.172  1551.5945
2499     West    ZC-21910  2641.089   346.0942
2500     West    ZD-21925   306.200    42.4662

[2501 rows x 4 columns]

In [115]:
saveForExample=dexcel.groupby(['Region','Customer ID']).agg({'Sales':'sum','Profit':'sum'}).reset_index()

In [114]:
saveForExample

       Region Customer ID     Sales     Profit
0     Central    AA-10315  3930.072  -650.5971
1     Central    AA-10375   149.970    62.0658
2     Central    AA-10480   479.970   420.4986
3     Central    AA-10645  1323.900   439.3138
4     Central    AB-10015   341.960   114.3432
...       ...         ...       ...        ...
2496     West    XP-21865   314.550   298.3414
2497     West    YC-21895  1199.976   382.0575
2498     West    YS-21880  2793.528  1551.5945
2499     West    ZC-21910  1298.550   346.0942
2500     West    ZD-21925   213.480    42.4662

[2501 rows x 4 columns]

In [119]:
[''.join(i) for i in saveForExample.columns]

['Region', 'Customer ID', 'Sales', 'Profit']

In [120]:
saveForExample['profitRatio']=saveForExample['Profit']/saveForExample['Sales']

In [121]:
saveForExample.head()

    Region Customer ID     Sales    Profit  profitRatio
0  Central    AA-10315  4780.552 -650.5971    -0.136092
1  Central    AA-10375   178.370   62.0658     0.347961
2  Central    AA-10480  1747.500  420.4986     0.240629
3  Central    AA-10645  1971.460  439.3138     0.222837
4  Central    AB-10015   576.564  114.3432     0.198318

In [124]:
saveForExample=saveForExample.sort_values(['Region','profitRatio'],ascending=False)

In [125]:
saveForExample.head()

     Region Customer ID   Sales   Profit  profitRatio
2367   West    RD-19810  146.82  73.4100         0.50
2206   West    LB-16735   21.48  10.7400         0.50
2422   West    SM-20320    9.96   4.8804         0.49
1939   West    CG-12040   11.76   5.7624         0.49
2468   West    TP-21415   12.96   6.3504         0.49

In [126]:
saveForExample.nlargest(20,'Sales')

       Region Customer ID      Sales     Profit  profitRatio
1754    South    SM-20320  23669.196 -1787.0435    -0.075501
588   Central    TC-20980  18437.138  8745.0635     0.474318
2354     West    RB-19360  14345.276  6807.0879     0.474518
1250     East    TA-21385  13723.498  4599.2073     0.335134
6     Central    AB-10105  12181.594  5362.6135     0.440223
68    Central    BM-11140  10539.896 -1878.7892    -0.178255
909      East    HL-15040  10522.550  5045.8564     0.479528
718      East    BS-11365  10022.293  2558.5802     0.255289
527   Central    SC-20095   9900.190  4668.6935     0.471576
896      East    GT-14710   9382.934  1749.1070     0.186414
1241     East    SV-20365   9216.568  1356.8781     0.147222
1744    South    SE-20110   8805.040  2825.2862     0.320871
743      East    CC-12370   8765.660  1190.5972     0.135825
2193     West    KL-16645   8472.394   426.6132     0.050353
1500    South    GT-14635   8167.420 -3825.3394    -0.468366
1133     East    PF-19120   7678.228   543.2819     0.070756
1281     East    TS-21370   7629.210  1835.0772     0.240533
2037     West    EH-13765   7447.770   589.7548     0.079185
2170     West    JW-15220   7391.530  2073.2828     0.280494
2187     West    KF-16285   7182.766   878.4390     0.122298

In [127]:
saveForExample.nlargest(20,'profitRatio')

       Region Customer ID   Sales    Profit  profitRatio
2367     West    RD-19810  146.82   73.4100     0.500000
2206     West    LB-16735   21.48   10.7400     0.500000
1319    South    AG-10765  113.10   56.5500     0.500000
950      East    JK-15325   23.36   11.6800     0.500000
778      East    CS-12175  196.21   98.1050     0.500000
1157     East    RA-19915   48.94   24.4700     0.500000
1016     East    LC-16930    8.40    4.2000     0.500000
204   Central    EC-14050   38.16   19.0800     0.500000
1652    South    MS-17770   37.44   18.5640     0.495833
858      East    EL-13735   37.66   18.4534     0.490000
238   Central    GB-14575  279.90  137.1510     0.490000
2422     West    SM-20320    9.96    4.8804     0.490000
1469    South    EJ-14155   48.69   23.8581     0.490000
1051     East    MC-17845    6.03    2.9547     0.490000
1939     West    CG-12040   11.76    5.7624     0.490000
2468     West    TP-21415   12.96    6.3504     0.490000
1414    South    DA-13450    9.64    4.7236     0.490000
1622    South    MD-17350  105.42   51.6558     0.490000
1530    South    JF-15490   14.73    7.2177     0.490000
1040     East    LW-17125   10.36    5.0764     0.490000

In [128]:
saveForExample.groupby(['Region']).agg({'profitRatio':{lambda x:x.nlargest(20).mean()}})

        profitRatio
           <lambda>
Region
Central    0.479799
East       0.484697
South      0.481304
West       0.482885

In [135]:
saveForExample[saveForExample['Region']=='West'].head(20)['profitRatio'].mean()

0.48288526990598823

In [136]:
#Stacking

In [137]:
sampstackdata=saveForExample.head()

In [139]:
sampstackdata

     Region Customer ID   Sales   Profit  profitRatio
2367   West    RD-19810  146.82  73.4100         0.50
2206   West    LB-16735   21.48  10.7400         0.50
2422   West    SM-20320    9.96   4.8804         0.49
1939   West    CG-12040   11.76   5.7624         0.49
2468   West    TP-21415   12.96   6.3504         0.49

In [140]:
sampstackdata.stack()

2367  Region             West
      Customer ID    RD-19810
      Sales            146.82
      Profit            73.41
      profitRatio         0.5
2206  Region             West
      Customer ID    LB-16735
      Sales             21.48
      Profit            10.74
      profitRatio         0.5
2422  Region             West
      Customer ID    SM-20320
      Sales              9.96
      Profit           4.8804
      profitRatio        0.49
1939  Region             West
      Customer ID    CG-12040
      Sales             11.76
      Profit           5.7624
      profitRatio        0.49
2468  Region             West
      Customer ID    TP-21415
      Sales             12.96
      Profit           6.3504
      profitRatio        0.49
dtype: object